CompileFlags:
  CompilationDatabase: /Users/dasmarvels/HAW/GT/ITS_Board/Programs/A1ASM/out/A1ASM/ITSboard_Assembly/Debug
  Add:
    - -include
    - /Users/dasmarvels/HAW/GT/ITS_Board/Programs/A1ASM/out/A1ASM/ITSboard_Assembly/Debug/compile_macros.h
